{% extends 'herbs/base.html' %}

{% block content %}
    <!-- Search Bar -->
    <div class="search-bar">
        <form method="GET" action="{% url 'herbs:home' %}">
            <!-- Dropdown for selecting Plant or Chemical -->
            <select id="searchType" name="search_type" onchange="updateFieldsDropdown()">
                <option value="Plant">Plant</option>
                <option value="Chemical">Chemical</option>
            </select>

            <!-- Dropdown for selecting the specific search field -->
            <select id="searchField" name="search_field">
            <option value="ncbi_species_id">NCBI ID</option>
            <option value="taxonomy">Taxonomy</option>
            </select>
            
            <!-- Search Input -->
            <input id="searchInput" class="search-input" type="text" name="q" value="{{ request.GET.q }}">
            <input class="search-button" type="submit" value="Search">
        </form>
    </div>

    <!-- Plant Listings -->
    <ul class="plant-list">
        {% for plant in page_obj %}
            <li class="plant-item">
                <a href="{% url 'herbs:report' plant.plant_id %}">{{ plant.taxonomy }}</a>
            </li>
        {% empty %}
            <li>No plants found.</li>
        {% endfor %}
    </ul>


    <!-- Pagination -->
    <div class="pagination">
        <!-- Previous Range Button -->
        {% if page_obj.number > 10 %}
            <a href="?page={{ page_obj.number|add:"-1" }}"><<</a>
        {% endif %}
        
        <!-- Individual Page Numbers -->
        {% for page_num in page_range %}
            <a href="?page={{ page_num }}"
               class="{% if page_num == page_obj.number %}current{% endif %}">
                {{ page_num }}
            </a>
        {% endfor %}
        
        <!-- Next Range Button -->
        {% if page_obj.number <= paginator.num_pages|add:"-9" %}
            <a href="?page={{ page_obj.number|add:"1" }}">>></a>
        {% endif %}
    </div>
    

    <!-- JavaScript to Update Fields Dropdown -->
    <script>
        function updateFieldsDropdown() {
            var searchType = document.getElementById("searchType").value;
            var searchField = document.getElementById("searchField");
            searchField.innerHTML = "";  // Clear existing options

            if (searchType === "Plant") {
                var options = ["ncbi_species_id", "taxonomy"];
            } else {
                var options = ["inchi_value", "pubchem_cid"];
            }

            for (var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                searchField.appendChild(el);
            }
        }

        // Initialize the fields dropdown
        window.onload = function() {
            updateFieldsDropdown();
        };
    </script>
{% endblock %}









