{% extends 'herbs/base.html' %}

{% block content %}
    <div class="plant-info">
        <h2>{{ plant.taxonomy }}</h2>
        <p>NCBI Species ID: {% if plant.ncbi_species_id %}{{ plant.ncbi_species_id }}{% else %}Not available{% endif %}</p>
        <p>NCBI Subspecies ID: {% if plant.ncbi_subspecies_id %}{{ plant.ncbi_subspecies_id }}{% else %}Not available{% endif %}</p>
    </div>
    <h3>Chemicals:</h3>
    {% for xref in xrefs %}
        <div class="card">
            <h4>
                <a href="{% url 'herbs:chemical_detail' xref.chemical_id.chemical_id %}">{{ xref.chemical_id.chemical_id }}</a>
                <!-- Check the value of similar_drug_count and assign the corresponding CSS class -->
                <span class="{% if xref.similar_drug_count == 0 %}red-text{% else %}green-text{% endif %}">{{ xref.similar_drug_count }} similar drugs</span>
            </h4>
            <ul>
                <li>{% if xref.chemical_id.inchi_value %}{{ xref.chemical_id.inchi_value }}{% else %}Not available{% endif %}</li>
                <li>PubChem CID: {% if xref.chemical_id.pubchem_cid %}{{ xref.chemical_id.pubchem_cid }}{% else %}Not available{% endif %}</li>
                <li>Reference DOI: <a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q={{ xref.referenceCleanedDoi }}" target="_blank">{% if xref.referenceCleanedDoi %}{{ xref.referenceCleanedDoi }}{% else %}Not available{% endif %}</a></li>
            </ul>
        </div>
    {% empty %}
        <p>No chemicals found.</p>
    {% endfor %}
{% endblock %}
